/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;
  margin:0;
  padding:0;  
}

/* Bron: Ivo & Thomas */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
  }

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */

	/* standaard stijl */
	--color-text:#FFFFFF;
	--color-text-both:#000000;
	--color-background:#171615;
	--color-background2:#000000;
	--color-background-both:#FFFFFF;
	--color-header:#262423;
	--color-gameplay:#3D3938;
	--color-primary:#367723;
	--color-bordertop1:#52A535;
	--color-borderbottom1:#2A641C;
	--color-textlink:#6cc349;
	--color-footer:#313131;
	--color-copyright:#D1CFCE;
	--color-friends1:#8F6448;
	--color-friends2:#6345BD;
	--color-friends3:#006CEF;
}

@media (prefers-color-scheme: light) {
	:root {
		--color-text:#000000;
		--color-background:#ffffff;
		--color-background2:lightgray;
		--color-gameplay:lightgray;
		--color-header:lightgray;
		--color-primary:#52A535;
		--color-bordertop1:#6cc349;
		--color-borderbottom1:#367723;
		--color-textlink:#2a641c;
		--color-footer:lightgray;
		--color-copyright:#000000;
	}
}

@media (prefers-reduced-motion: reduce) {
	body * {
		animation:none !important;
		transition:none !important;
	}
}

@font-face {
	font-family:mc7;
	src: url("../fonts/minecraftseven.woff2");
}

@font-face {
	font-family:mc10;
	src: url("../fonts/minecraftten.woff");
}

@font-face {
	font-family:noto;
	src: url("../fonts/notosans.woff2");
}



/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
#page1 {
	background-color:var(--color-background);
}

#page2 {
	background-color:var(--color-background);
}

/* Voor beide pagina's */
header {
	min-height:5em;
	background-color:var(--color-header);
	display:flex;
	justify-content:space-evenly;
	position:sticky;
	align-items:center;
	top:0;
	z-index:10;
	flex-wrap:wrap;
	padding:0;
}

header ul {
	background-color:var(--color-background);
	transform: translate(-200%, 0%);
	transition: 1s ease-in-out;
	position:absolute;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	padding:1em;
}

header li {
	border-bottom:.1em solid var(--color-header);
	padding:1em;
}

header li a {
	color:var(--color-text);
	font-family:noto;
	font-size:.8em;
	font-weight:bold;
}

header ul.toonMenu {
	transform: translate(0%, 0%);
}

nav button img {
	height:3em;
	padding-right:1em;
	padding-left:1em;
}

nav a img {
	height:2em;
	padding-right:1em;
	padding-left:1em;
}

nav ul li:nth-of-type(1) {
	border-bottom:none;
}

nav ul li:nth-of-type(1) img {
	height:1.5em;
}

nav ul li:nth-of-type(2) {
	display:flex;
	justify-content:center;
}

nav ul li:nth-of-type(2) img {
	height:2em;
}

ul {
	list-style:none;
	position:relative;
}

a {
	text-decoration:none;
}

a:focus {
	text-decoration:underline;
}

button {
	background-color:transparent;
	border:none;
}

.button-klik {
	transform:translateY(5px);
	transition:transform 0.2s ease;
}

.bounce {
	animation: wave 1.5s infinite;
}

@keyframes wave {
	0%, 100% {
		transform:translateY(0);
	}
	50% {
		transform:translateY(-10px);
	}
}

.leftRight {
	animation: sideways 1.5s infinite;
}

@keyframes sideways {
	0%, 100% {
		transform:translateX(0) rotateX(0deg) rotateY(0deg);
	}
	50% {
		transform:translateX(5px) rotateX(-5deg) rotateY(5deg);
	}
}

/* Pagina 1 Styling */
#page1 main section:nth-of-type(1) {
	background-image:url("../images/minecraft-live.jpg");
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	width:100vw;
	height:70vh;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	margin-bottom:22em;
}

#page1 main section:nth-of-type(1) article:nth-of-type(1) {
	position:absolute;
	background-color:var(--color-background);
	width:90vw;
	top:24em;
}

#page1 main section:nth-of-type(1) article:nth-of-type(1) h2 {
	text-align:center;
	color:var(--color-text);
	font-size:1.5em;
	font-family:mc7;
	margin-bottom:1em;
	padding-top:2em;
	padding-left:1em;
	padding-right:1em;
}

#page1 main section:nth-of-type(1) article:nth-of-type(1) p {
	text-align:center;
	color:var(--color-text);
	font-size:1em;
	font-family:noto;
	padding-left:1em;
	padding-right:1em;
}

li.knop {
	background-color:var(--color-primary);
	margin-left:6em;
	margin-right:6em;
	border-top:.3em solid var(--color-bordertop1);
	border-bottom:.3em solid var(--color-borderbottom1);
	cursor:pointer;
	display:flex;
	justify-content:center;
	align-items:center;
	padding:.2em;
	margin-top:2em;
	margin-bottom:2em;
}

li.knop:hover {
	background-color:var(--color-borderbottom1);
}

li.knop:active {
	transform: translateY(2px);
}

li.knop p {
	margin:0;
	text-align:center;
	font-family:noto;
	font-weight:bold;
}

#page1 main section:nth-of-type(1) article:nth-of-type(1) a {
	color:var(--color-text);
	font-size:1em;
	display:flex;
	justify-content:center;
	font-family:noto;
	padding-bottom:3em;
	font-weight:bold;
}

#page1 main ul:nth-of-type(2) {
	display:grid;
	grid-template-columns:repeat(4, 1fr);
	padding-left:3em;
	padding-right:3em;
}

#page1 main ul:nth-of-type(2) img {
	height:3em;
	width:auto;
}

#page1 main section:nth-of-type(2) {
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}

#page1 main section:nth-of-type(2) h2 {
	text-align:center;
	color:var(--color-text);
	font-size:1.8em;
	font-family:mc10;
	padding-bottom:2em;
}

#page1 main section:nth-of-type(2) img {
	height:20em;
	padding-bottom:2em;
}

#page1 main section:nth-of-type(3) {
	padding-bottom:10em;
}

#page1 main section:nth-of-type(3) h2 {
	text-align:center;
	color:var(--color-text);
	font-size:2em;
	font-family:mc10;
	padding-top:5em;
	padding-bottom:2em;
}

#page1 main section:nth-of-type(3) details {
	border-top:.2em solid var(--color-header);
	border-right:.2em solid var(--color-header);
	border-bottom:.2em solid var(--color-background2);
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	margin-left:2em;
	margin-right:2em;
	padding-left:1em;
	padding-right:1em;
	padding-top:2em;
	cursor:pointer;
}

#page1 main section:nth-of-type(3) summary {
	color:var(--color-text);
	font-size:1em;
	font-family:mc7;
	text-align:left;
	padding-bottom:2em;
}

video {
	height:12em;
	padding-bottom:3em;
}

#page1 main section:nth-of-type(3) p {
	color:var(--color-text);
	font-size:1em;
	font-family:noto;
}

#page1 main section:nth-of-type(4) {
	background-color:var(--color-header);
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}

#page1 main section:nth-of-type(4) h2 {
	text-align:center;
	color:var(--color-text);
	font-size:2em;
	font-family:mc10;
	padding-top:2em;
	padding-bottom:.5em;
}

#page1 main section:nth-of-type(4) a {
	color:var(--color-textlink);
	font-size:1.2em;
	display:flex;
	justify-content:center;
	font-family:noto;
	margin-bottom:2em;
	font-weight:bold;
}

#page1 main section:nth-of-type(4) ul:nth-of-type(1) h2 {
	font-size:1.2em;
	font-family:mc7;
	padding-right:5em;
	text-align:left;
}

#page1 main section:nth-of-type(4) img {
	height:15em;
	padding-bottom:1em;
}

/* Bron: Positioneren */
.vollebreedte {
	position:relative;
}

.vollebreedte h2 {
	position:absolute;
	left:0;
	right:0;
	bottom:1em;
	padding:1em;
	background-color:var(--color-header);
	color:var(--color-text);
	opacity:80%;
}

#page1 main div:nth-of-type(1) {
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}

#page1 main div:nth-of-type(1) article:nth-of-type(1) {
	background-color:var(--color-background);
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	margin:2em;
	border-top:.2em solid var(--color-background2);
	border-right:.2em solid var(--color-background2);
	border-bottom:.2em solid var(--color-header);
	border-left:.2em solid var(--color-header);
	margin-bottom:6em;
}

#page1 main div:nth-of-type(1) article:nth-of-type(1) img {
	margin:1em;
	height:5em;
}

#page1 main div:nth-of-type(1) article:nth-of-type(1) h2 {
	color:var(--color-text);
	font-size:1em;
	font-family:noto;
	padding-bottom:.5em;
}

#page1 main div:nth-of-type(1) article:nth-of-type(1) p {
	text-align:center;
	color:var(--color-text);
	font-size:1em;
	font-family:noto;
	padding-left:2em;
	padding-right:2em;
	padding-bottom:2em;
}

#page1 main div:nth-of-type(1) li:nth-of-type(1) p {
	background-color:var(--color-background);
	color:var(--color-text);
	padding:.5em;
	font-family:noto;
	border:.1em solid var(--color-text);
	margin-bottom:2em;
	font-weight:bold;
	cursor:pointer;
}

#page1 main section:nth-of-type(5) {
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}

#page1 main section:nth-of-type(5) img {
	height:15em;
	padding-bottom:1em;
}

#page1 main section:nth-of-type(5) h2 {
	text-align:center;
	color:var(--color-text);
	font-size:2em;
	font-family:mc10;
	padding-bottom:.5em;
}

#page1 main section:nth-of-type(5) p {
	text-align:center;
	color:var(--color-text);
	font-size:1em;
	font-family:noto;
	padding-left:3em;
	padding-right:3em;
}

#page1 main section:nth-of-type(6) {
	background-color:var(--color-background2);
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}

#page1 main section:nth-of-type(6) h2 {
	text-align:center;
	color:var(--color-text);
	font-size:2em;
	font-family:mc10;
	padding-top:2em;
	padding-bottom:1em;
}

#page1 main section:nth-of-type(6) p {
	text-align:center;
	color:var(--color-text);
	font-size:1em;
	font-family:noto;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:1em;
}

#page1 main section:nth-of-type(6) a {
	color:var(--color-textlink);
	font-size:1.3em;
	display:flex;
	justify-content:center;
	font-family:noto;
	padding-bottom:3em;
	font-weight:bold;
}

#page1 main section:nth-of-type(6) img {
	height:18em;
}

#page1 main section:nth-of-type(7) {
	background-color:var(--color-background2);
	padding-bottom:1em;
}

#page1 main section:nth-of-type(7) h2 {
	text-align:center;
	color:var(--color-text);
	font-size:1em;
	font-family:noto;
	padding-bottom:3em;
	padding-top:8em;
}

#page1 main section:nth-of-type(7) ul {
	display:grid;
	grid-template-columns:repeat(5, 1fr);
	display:flex;
	justify-content:center;
	grid-gap:1em;
}

#page1 main section:nth-of-type(7) img {
	height:3em;
}

footer div:nth-of-type(1) {
	display:grid;
	grid-template-columns:repeat(2, 1fr);
	grid-template-rows:1fr;
	text-align:left;
	padding-left:2em;
	padding-right:2em;
	gap:3em;
	padding-bottom:2em;
}

footer div:nth-of-type(1) p {
	color:var(--color-text);
	font-family:noto;
	font-size:1.2em;
	padding-bottom:.5em;
	padding-top:2em;
}

footer div:nth-of-type(1) a {
	color:var(--color-textlink);
	font-family:noto;
	font-size:.8em;
	padding-bottom:.5em;
}

footer div:nth-of-type(2) {
	padding-bottom:5em;
}

/* Bron: ChatGPT, Prompt: Hoe krijg ik één plaatje boven en twee naast elkaar beneden? */
footer div:nth-of-type(2) ul:nth-of-type(1) {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:auto auto;
	gap:1em;
	padding-left:2em;
	padding-right:2em;
}

footer div:nth-of-type(2) ul:nth-of-type(1) li:nth-child(1) {
    grid-column:span 2;
}

footer div:nth-of-type(2) ul:nth-of-type(1) li:nth-child(2),
footer div:nth-of-type(2) ul:nth-of-type(1) li:nth-child(3) {
    
    grid-column:span 1;
}
/* */

footer div:nth-of-type(2) img {
	height:6em;
	padding-bottom:1em;
}

footer div:nth-of-type(2) ul:nth-of-type(2) {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:auto auto;
	padding-left:2em;
	padding-right:2em;
	gap:1em;
}

footer div:nth-of-type(2) ul:nth-of-type(2) li:nth-child(1) {
    grid-column:span 2;
}

footer div:nth-of-type(2) ul:nth-of-type(2) li:nth-child(2),
footer div:nth-of-type(2) ul:nth-of-type(2) li:nth-child(3) {
    
    grid-column:span 1;
}

footer div:nth-of-type(2) a {
	color:var(--color-textlink);
	font-family:noto;
	font-size:.7em;
}

footer div:nth-of-type(2) p {
	color:var(--color-copyright);
	font-family:noto;
	font-size:.7em;
}

footer > ul:nth-of-type(1) {
    font-family: noto;
    font-size: 0.7em;
    background-color: var(--color-footer);
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 3em;
}

footer > ul:nth-of-type(1) a {
    color: var(--color-text);
}


/* Pagina 2 Styling */
#page2 main section:nth-of-type(1) {
	padding-bottom:4em;
}

#page2 main section:nth-of-type(1) h2{
	text-align:center;
	color:var(--color-text);
	font-size:1.7em;
	font-family:mc10;
	margin-bottom:1em;
	padding-top:2em;
	padding-left:1em;
	padding-right:1em;
}

.tabContainer {
	width:100vw;
	font-family:noto;
	color:var(--color-text);
}

.buttonContainer {
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	padding-left:1em;
	padding-right:1em;
}

.buttonContainer button {
	color:var(--color-text);
	border-top:.3em solid var(--color-header);
	border-left:.2em solid var(--color-background2);
	border-right:.3em solid var(--color-header);
	background-color:var(--color-background2);
	padding:1em;
	cursor:pointer;
	font-size:1em;
	font-family:mc7;
	flex:1;
}

.buttonContainer button:active, .buttonContainer button:focus {
	text-decoration:underline;
}

.tabPanel {
	display:none;
	padding:2em;
	border-top:.3em solid var(--color-header);
}

#page2 main section:nth-of-type(1) ul:nth-of-type(1) {
	padding:1em;
}

#page2 main section:nth-of-type(1) ul:nth-of-type(1) li {
	border-bottom:.1em solid var(--color-header);
	padding:1em;
}

#page2 main section:nth-of-type(1) ul:nth-of-type(1) a {
	color:var(--color-text);
	font-size:1em;
	font-family:noto;
	padding-bottom:3em;
	font-weight:bold;
}

#page2 main section:nth-of-type(2) {
	background-color:var(--color-background2);
	padding-bottom:25em;
}

#page2 main section:nth-of-type(2) h2 {
	text-align:center;
	color:var(--color-text);
	font-size:1.7em;
	font-family:mc10;
	padding-top:1em;
	padding-left:1em;
	padding-right:1em;
}

#page2 main section:nth-of-type(2) p {
	text-align:center;
	color:var(--color-text);
	font-size:1em;
	font-family:noto;
	padding-bottom:2em;
	padding-top:1em;
	padding-left:2em;
	padding-right:2em;
}

/* Bron: ChatGPT, Prompt: Hoe maak ik van deze section een carrousel? */
.carousel {
    position:relative;
    overflow:hidden;
    padding-left:2em;
    padding-right:2em;
}

.carousel-items {
    display:flex;
    transition:transform 0.5s ease-in-out;
    list-style:none;
    gap:2em; 
}

.carousel-items li {
    flex: 0 0 auto;
    box-sizing:border-box;
}

.carousel img {
    width:20em; 
    display:block;
}

.carousel-button {
    position:absolute;
    top:65%;
    transform:translateY(-50%);
    background-color: var(--color-background);
    color:var(--color-text);
    border:none;
    padding:1em;
    cursor:pointer;
}

.carousel-button:active {
	background-color:var(--color-primary);
}

.carousel-button.previous {
    left:8em;
}

.carousel-button.next {
    right:8em;
}

#page2 main section:nth-of-type(3) {
	background-color:var(--color-background-both);
	display:flex;
	justify-content:center;
	flex-direction:column;
	padding-bottom:10em;
	align-items:center;
}

#page2 main section:nth-of-type(3) h2 {
	text-align:center;
	color:var(--color-text-both);
	font-size:1.7em;
	font-family:mc10;
	padding-top:3em;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:2em;
}

#page2 main section:nth-of-type(3) img {
	height:24em;
	padding-left:2em;
	padding-right:2em;
	padding-bottom:2em;
}

#page2 main section:nth-of-type(3) h3 {
	text-align:center;
	color:var(--color-text-both);
	font-size:1.5em;
	font-family:mc7;
	padding-left:1em;
	padding-right:1em;
}

#page2 main section:nth-of-type(3) p {
	text-align:center;
	color:var(--color-text-both);
	font-size:1em;
	font-family:noto;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:2em;
}

#page2 main section:nth-of-type(4) {
	background-color:var(--color-background-both);
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
	padding-bottom:20em;
}

#page2 main section:nth-of-type(4) h2 {
	text-align:center;
	color:var(--color-text-both);
	font-size:1.7em;
	font-family:mc10;
	padding-top:3em;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:1em;
}

#page2 main section:nth-of-type(4) p {
	text-align:center;
	color:var(--color-text-both);
	font-size:1em;
	font-family:noto;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:3em;
}

#page2 main section:nth-of-type(4) img {
	height:10em;
}

#page2 main section:nth-of-type(4) article:nth-of-type(1) {
	background-color:var(--color-background-both);
	border:1em solid var(--color-friends1);
	margin-left:2.4em;
	margin-right:2.4em;
	margin-bottom:3em;
}

#page2 main section:nth-of-type(4) article:nth-of-type(1) h3 {
	color:var(--color-text-both);
	font-size:1.5em;
	font-family:mc7;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:1em;
	padding-top:2em;
}

#page2 main section:nth-of-type(4) article:nth-of-type(1) p {
	text-align:left;
	color:var(--color-text-both);
	font-size:1em;
	font-family:noto;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:3em;
}

#page2 main section:nth-of-type(4) article:nth-of-type(1) details {
	text-align:left;
	color:var(--color-text-both);
	font-size:1em;
	font-family:noto;
	padding-bottom:1em;
}

#page2 main section:nth-of-type(4) article:nth-of-type(1) summary {
	text-align:left;
	color:var(--color-text-both);
	font-size:1em;
	font-family:noto;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:1em;
	font-weight:bold;
}

#page2 main section:nth-of-type(4) article:nth-of-type(2) {
	background-color:var(--color-background-both);
	border:1em solid var(--color-friends2);
	margin-left:2.4em;
	margin-right:2.4em;
	margin-bottom:3em;
}

#page2 main section:nth-of-type(4) article:nth-of-type(2) h3 {
	color:var(--color-text-both);
	font-size:1.5em;
	font-family:mc7;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:1em;
	padding-top:2em;
}

#page2 main section:nth-of-type(4) article:nth-of-type(2) p {
	text-align:left;
	color:var(--color-text-both);
	font-size:1em;
	font-family:noto;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:3em;
}

#page2 main section:nth-of-type(4) article:nth-of-type(2) details {
	text-align:left;
	color:var(--color-text-both);
	font-size:1em;
	font-family:noto;
	padding-bottom:1em;
}

#page2 main section:nth-of-type(4) article:nth-of-type(2) summary {
	text-align:left;
	color:var(--color-text-both);
	font-size:1em;
	font-family:noto;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:1em;
	font-weight:bold;
}

#page2 main section:nth-of-type(4) article:nth-of-type(3) {
	background-color:var(--color-background-both);
	border:1em solid var(--color-friends3);
	margin-left:2.4em;
	margin-right:2.4em;
	margin-bottom:3em;
}

#page2 main section:nth-of-type(4) article:nth-of-type(3) h3 {
	color:var(--color-text-both);
	font-size:1.5em;
	font-family:mc7;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:1em;
	padding-top:2em;
}

#page2 main section:nth-of-type(4) article:nth-of-type(3) p {
	text-align:left;
	color:var(--color-text-both);
	font-size:1em;
	font-family:noto;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:3em;
}

#page2 main section:nth-of-type(4) article:nth-of-type(3) details {
	text-align:left;
	color:var(--color-text-both);
	font-size:1em;
	font-family:noto;
	padding-bottom:1em;
}

#page2 main section:nth-of-type(4) article:nth-of-type(3) summary {
	text-align:left;
	color:var(--color-text-both);
	font-size:1em;
	font-family:noto;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:1em;
	font-weight:bold;
}

#page2 main section:nth-of-type(5) {
	background-color:var(--color-primary);
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
	padding-bottom:5em;
}

#page2 main section:nth-of-type(5) h2 {
	text-align:center;
	color:var(--color-text);
	font-size:1.8em;
	font-family:mc10;
	padding-top:2em;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:1em;
}

#page2 main section:nth-of-type(5) p {
	text-align:center;
	color:var(--color-text);
	font-size:1em;
	font-family:noto;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:3em;
}

#page2 main section:nth-of-type(5) img {
	height:11.2em;
}

#page2 main section:nth-of-type(5) article:nth-of-type(1) {
	background-color:var(--color-background-both);
	margin-left:2.4em;
	margin-right:2.4em;
	margin-bottom:3em;
	display:flex;
	justify-content:center;
	flex-direction:column;
}

#page2 main section:nth-of-type(5) article:nth-of-type(1) h3 {
	color:var(--color-text-both);
	font-size:1.5em;
	font-family:noto;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:1em;
	padding-top:1em;
	text-align:center;
}

#page2 main section:nth-of-type(5) article:nth-of-type(1) p {
	color:var(--color-text-both);
	font-size:1em;
	font-family:noto;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:1em;
}

#page2 main section:nth-of-type(5) article:nth-of-type(1) a {
	color:var(--color-primary);
	font-size:1.1em;
	text-align:center;
	font-family:noto;
	padding-bottom:1em;
	font-weight:bold;
}

#page2 main section:nth-of-type(6) {
	background-color:var(--color-background-both);
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
}

#page2 main section:nth-of-type(6) h2 {
	text-align:center;
	color:var(--color-text-both);
	font-size:1.5em;
	font-family:mc10;
	padding-top:3em;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:1em;
}

#page2 main section:nth-of-type(6) p {
	text-align:center;
	color:var(--color-text-both);
	font-size:1em;
	font-family:noto;
	padding-left:3em;
	padding-right:3em;
	padding-bottom:2em;
}

#page2 main section:nth-of-type(6) a {
	color:var(--color-primary);
	font-size:1.1em;
	text-align:center;
	font-family:noto;
	padding-bottom:1em;
	font-weight:bold;
}

#page2 main section:nth-of-type(7) {
	background-color:var(--color-background2);
	padding-bottom:1em;
}

#page2 main section:nth-of-type(7) h2 {
	text-align:center;
	color:var(--color-text);
	font-size:1em;
	font-family:noto;
	padding-bottom:3em;
	padding-top:1em;
}

#page2 main section:nth-of-type(7) ul {
	display:grid;
	grid-template-columns:repeat(5, 1fr);
	display:flex;
	justify-content:center;
	grid-gap:1em;
}

#page2 main section:nth-of-type(7) img {
	height:3em;
}
